body {
	position: fixed;
	width: 100%;
	height: 100%;
	margin: 0;
	background-color: #9DCCE0;
}

#loading {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba( 0, 0, 0, .7 );
	background-image: url( "img/loading.gif" );
	background-position: center;
	background-repeat: no-repeat;
}

#jThreeContents {
  margin-left: 25%;
  width: 50%;
  height: 50%;
}